*{
    font-family: poppins, sans-serif
}

body{
    margin-bottom: 0vh;    
}

.text-align-c{
    text-align: center;
}

.d-flex{
    display: flex;
}

.just-c{
    justify-content: space-between;
}

.capitalize{
    text-transform: capitalize;
}

.text-deco-no{
    text-decoration: none;
}

.grey-color{
    color:rgb(117, 111, 111);
}

.uppercase{
    text-transform: uppercase;
}

.margin-auto{
    margin: auto;
}

/* nav section */ 

.nav{
    padding-top: 3%;
    margin: 0 15% 0 10%;   
}

.book-mark-logo{
    height: 4vh;
}

.ul-btn-wrapper{
    gap: 5rem;
    margin-left: auto;
}

.nav-items{
    gap: 5rem;
    list-style: none;
    font-weight: 600;
    font-size: 0.9rem;
}

.nav-button{
    color: white;
    background-color: rgb(247, 63, 63);
    border: none;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    padding: 1% 8% 1% 8%;
    font-size: 0.8rem;
    border-radius: 0.8rem;
    cursor: pointer;
}

/* manager section */

.manager-section{
    margin: 50% -1% 0% 10%;
    gap: 10rem;
    position: relative; 
}

.blue-background{
    width:40vw;
    height:50vh;
    background-color:rgb(83, 83, 206) ;
    border-bottom-left-radius: 25rem;
    margin-left: auto; 
}

.illustration-image{
    width: 45vw;
    position: absolute;
    top: -25vh;
    right: 5vw;
}

.manager-section-text{
    margin-top: -12vh;
}

.manager-h1{
    font-size: 3rem;
    width: 40vw;
    color:  rgb(16, 16, 66);
}

.manager-p, .click-p{
    width: 35vw;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(88, 81, 81);
    line-height: 2rem;
    letter-spacing: o.2rem;
    margin-bottom: 3vh;
}

.manager-btn-1, .click-btn, .browser-button, .question-info-btn{
    color: white;
    font-size: 0.8rem;
    background-color: rgb(83, 83, 206);
    border: none;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    padding: 3% 6% 3% 6%;
    border-radius: 1rem;
    cursor: pointer;
}

.manager-btn-2{
    color: rgb(39, 39, 66);
    font-size: 0.8rem;
    background-color: rgb(192, 178, 178);
    border: none;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    padding: 3% 6% 3% 6%;
    border-radius: 1rem;
    cursor: pointer;
}

/* features section */

.features-section{
    width: 35vw;
    margin-top: 20vh;
}

.features-intro-header, .click-h1, .download-intro-h, .question-sect-intro-h1 {
    font-size: 2.5rem;
    color:  rgb(16, 16, 66);
}

.features-intro-p, .features-qualities, .dowmload-intro-p, .question-sect-intro-p{
    font-size: 1.2rem;
    color: rgb(88, 81, 81);
    line-height: 2rem;
    letter-spacing: o.2em;
}

/* click section */

.click-section{
    margin: 20% 10% 0% -1%;
    gap: 10rem;
    position: relative;
}

.blue-background-2{
    width:40vw;
    height:50vh;
    background-color:rgb(83, 83, 206) ;
    border-bottom-right-radius: 25rem; 
    margin-right: auto;
}

.illustration-image-2{
    width: 40vw;
    position: absolute;
    top: -20vh;
    left: 5vw;
}

.click-section-text{
    margin-top: -12vh;
}


/* download section */

.download-section{
    margin: 10% 0 0% 0;    
}

.browsers-section{
    margin-top: 5%;
    position: relative;   
}

.browser-name{
    font-size: 1.2rem;
    color: rgb(22, 21, 21);
}

.browser-version{
    font-size: 1rem;
    color: rgb(88, 81, 81);
    line-height: 1rem;
    letter-spacing: o.2rem;
}

.browser-wrapper{
    box-shadow: 1px 20px 20px 10px  rgb(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 3%;
    width: 20vw;
    height: 50vh;
}

.browser-image{
    width: 7vw;
    height: 14vh;
}

.browser-1{
    position: absolute;
    left: 13vw;
}

.browser-2{
    position: absolute;
    left: 37vw;
    top:3vh ;
}

.browser-3{
    position: absolute;
    left: 61vw;
    top: 6vh;
}

.line-img{
    margin-top: 10%;
    height: 1vh;
    width: 18vw;
}

.browser-button{
    margin-top: 10%;
    padding: 5% 20% 5% 20%;
    font-size: 0.9rem;

}


/* quetions section */

.questions-section{
    margin: 90vh auto 0% auto ;
    width: 40vw; 
}

.qustions-sect-intro{
    text-align: center;   
}

.questions-wrapper{
   gap: 20vw;
}

.question{
    font-size: 1.2rem;
    color: rgb(16, 16, 66);
    letter-spacing: 0.2rem; 
    font-weight: 550;  
}

.icon-arrow{
    height: 15px;
    align-self: center;   
}

.question-btn-wrapper{
    width: 14vw;
    margin: auto;
    margin-top: 5%;
}

.question-info-btn{
    padding: 1rem 3rem 1rem 3rem;
    font-size: 0.8rem;
}

/* follow-up section */

.follow-up-section{
    margin: 10% -1% 0% -1%;
    text-align: center;
    color: white;
    background-color :rgb(83, 83, 206);
    padding: 5%;
}

.follow-up-p{
    font-size: 1rem;
    letter-spacing: 0.2rem;
}

.follow-up-h{
    font-size: 2rem;
    letter-spacing: 0.2rem;
    width: 30vw;
    margin: auto;
}

.follow-up-form{
    margin-top: 5vh;
    width: 80vw;
    margin-left: 28vw;
    gap: 1vw;
}

.email-input{
    width: 22vw;
    padding: 1.2rem;
    border-radius: 8px;
    border: none;
    font-size: 0.8rem;
}

.contact-btn{
    color: white;
    background-color: rgb(247, 63, 63);
    border: none;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    padding: 1.2rem 3rem 1.2rem 3rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
}

/* footer section */

.main-footer{
    margin: 0% -1% 0% -1%;
    background-color: rgb(16, 16, 66);
    color: white;
    padding: 5% 10%;
}

.footer-bookmark-logo-wrapper{
    align-self: center; 
}

.footer-bookmark-logo{
    width: 12vw;
    height: 4vh;
}

.footer-items{
    gap: 50px;
    list-style: none;
    font-weight: 600;
    font-size: 0.8rem;
}

.social-icon-wrapper{
    align-self: center;
    margin-left: auto;   
}

.footer-social-icon{
    font-size: 1.5rem;
    padding: 3rem;   
}


@media (min-width:0px) and (max-width:600px){
    .nav{
        flex-direction: column;
        gap: 1rem;
        padding-top: 5%;
        width: 100vw;  
        margin: 0 auto 0 auto;    
    }

    .ul-btn-wrapper{
        flex-direction: column;
        gap: 2rem;
        margin-right: auto;
    }

    .book-mark-logo{
        height: 5vh;
        margin: auto;
    }

    .nav-items{
        flex-direction: column;
        gap: 3rem;
        font-weight: 600;
        font-size: 0.8rem;
    }
    

    .nav-button{
       width: 30vw;
       padding: 6% 10% 6% 10%;
       margin: auto;
       font-size: 1rem;
    }

    .manager-section{
        flex-direction: column-reverse;
        width: 500px;  
        margin: 100vh 0% 0% 0%;
        padding-right: 20%;
        gap: 5rem;
    }       
    

    .manager-section-text{
        text-align: center;
    }

    .manager-p{
        width: 80vw;
        font-size: 1.2rem;
        margin:0 auto 5% auto;
        line-height: 2.5rem;
    }

    .manager-h1{
        font-size: 2rem;
        width: 80vw;
        margin: 2% auto;
             
    }

    .blue-background{
        display: none;     
    }

    .illustration-image{
        width: 80vw;
        height: 60vh;
        top: -75vh;
        left: 10vw; 
    }

    .manager-btn-1, .manager-btn-2, .click-btn{
        padding: 3% 4%;
        font-size: 0.8rem;
    }

    .features-section{
        width: 80vw;
        margin:5% 0% 0 0%;
    }

    .features-intro-p, .features-qualities, .dowmload-intro-p, .question-sect-intro-p, .click-p{
        font-size: 1.3rem;
        line-height: 2.5rem;
    }

    .features-intro-header, .click-h1, .download-intro-h, .question-sect-intro-h1 {
        font-size: 2rem;
    }

    .features-intro-p{
        margin-left: 10%;
    }
    
    .features-qualities{
        flex-direction: column;
        width: 200px;
        text-align: center;
        margin-left: 30%;
    }

    .click-section{
        margin: 80vh 10% 0% -1%;
        flex-direction: column;
        width: 70vw;   
    }

    .click-section-text{
        text-align: center;
        width: 80vw;
        margin-left: 20vw;
    }

    .blue-background-2{
        display: none;
    }

    .illustration-image-2{
        width: 70vw;
        height: 50vh;
        left: 13vw ;
        top: -70vh;
    }

    .click-section-text{
        width: 70vw;
        margin-right: auto;
        margin-left: 10%;
    }

    .click-p{
        width: 400px;
        margin: auto;
        margin-bottom: 20px;
    }

    .click-btn{
        padding: 5% 10% 5% 10%;

    }

    .download-section{
        margin: 20vh 0 235vh 10%;
        width: 80vw;    
    }

    .browser-wrapper{
        width: 50vw;
        height: 60vh; 
    }

    .browser-image{
        width: 12vw;
        height: 12vh;
    }
    
    .browser-1{
        position: absolute;
        left: 10vw;
    }

    .browser-2{
        top: 75vh;
        left: 10vw;
    }

    .browser-3{
        top: 150vh;
        left: 10vw;
    }

    .questions-section{
        width: 60vw;
        margin: auto;
    }

    .questions-wrapper{
        gap: 10vw;
    }

    .question-info-btn{
        padding: 0.5rem 2rem 0.5rem 2rem;
        font-size: 0.8rem;
    }

    .follow-up-p{
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
    }

    .follow-up-h{
    font-size: 1.5rem;
    width: 60vw;
    }

    .follow-up-form{
    flex-direction: column;
    width: 70vw;
    margin-left: 10vw;
    }

    .email-input{
    width: 50vw;
    font-size: 0.8rem;
    }

    .contact-btn{
    padding: 1rem 2rem 1rem 2rem;

    }

    .main-footer{
        flex-direction: column;
        text-align: center;
    }

    .footer-logo-items{
        flex-direction: column;
    }

    .footer-items{
        flex-direction: column;
    }

    .footer-bookmark-logo{
        width: 30vw;
        height: 4vh;
    }
    
    .social-icon-wrapper{
         width: 50vw;
         margin: auto;
    }

    .footer-social-icon{
        padding: 1rem;
    }

    

    
    


       
}